<footer class="footer">
    <div class="grupo1">
        <div class="box">
            <h2>Desarrollado por</h2>
            <figure>
                <a href="https://www.instagram.com/cemmsoftware/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank">
                    <img src="../../../assets/img/logo-cemm.png" alt="Logo de CEMM" width="200px">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Horarios</h2>
            <p>Lunes - Sábado</p>
            <p>10:00 AM - 9:00 PM</p>
            <p>Domingo</p>
            <p>10:00 AM - 3:00 PM</p>
        </div>
        <div class="box">
            <h2>Información</h2>
            <a href="/sobre-nosotros">
                <p>Nosotros</p>
            </a>
            <a href="/contacto">
                <p>Escríbenos</p>
            </a>
            <a href="https://goo.gl/maps/oYe7WKQYwkk5jqgA6" target="_blank">
                <p>Ubicación</p>
            </a>
            <a href="https://bit.ly/Whatsappflacks" class="btn" target="_blank">RESERVAR</a>
        </div>
        <div class="box">
            <h2>Síguenos</h2>
            <div class="redes">
                <a href="https://www.facebook.com/profile.php?id=100063623951157" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://instagram.com/flacksbarber?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://bit.ly/Whatsappflacks" target="_blank">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a href="https://www.tiktok.com/@flacksbarber?_t=8cvDOtRYKEH&_r=1" target="_blank">
                    <i class="bi bi-tiktok"></i>
                </a>
            </div>
        </div>
        <div class="box">
            <figure>
                <a href="/inicio">
                    <img src="../../../assets/img/logo-flacks.png" alt="Logo de Flack's Barber Shop">
                </a>
            </figure>
        </div>
    </div>
    <div class="grupo2">
        <small>&copy; 2023 <b>Flack's Barber Shop</b> - Todos los derechos reservados</small>
    </div>
</footer>