<div class="main-container" id="main">
    <!-- Llamamos al componente del menú lateral -->
    <app-menu-lateral></app-menu-lateral>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div class="container-dash">
                    <!-- Sección del dashboard para administrar pagos -->
                    <div>
                        <div class="title-container">
                            <h2>Administrar pagos</h2>
                            <!-- Button to add payment -->
                            <button routerLink="/crud-pagos">Agregar pago</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID de Pago</th>
                                    <th>Método de Pago</th>
                                    <!-- Actions CRUD -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows of the table with payments -->
                                <tr *ngFor="let pago of pagos; let i = index">
                                    <td>{{ pago?.id }}</td>
                                    <td>{{ pago?.metodoNombre }}</td>
                                    <!-- Edit and Delete actions -->
                                    <td>
                                        <i class="far fa-edit fa-lg text-info me-3" [routerLink]="['/editar-pago/', pago.id]" (click)="mostrarId(pago.id)"></i>
                                        <i (click)="abrirEliminarPopup(i)" class="far fa-trash-alt fa-lg text-danger"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Popup to delete records -->
                    <div class="modal-overlay eliminar" *ngIf="popupEliminarVisible">
                        <div class="modal">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmar eliminación</h5>
                            </div>
                            <div class="modal-body">
                                <div class="msj-eliminar">
                                    <p>¿Estás seguro de que deseas eliminar este pago?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn-cancelar" (click)="cerrarEliminarPopup()">Cancelar</button>
                                    <button class="btn-eliminar" (click)="eliminar(pagos[indicePagoAEliminar].id)">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
