<div class="barra-contenedor">
    <p>
      Abrimos de lunes a sábado de 10:00 am. a 9:00 pm. y los domingos de 10:00
      am. a 3:00 pm.
    </p>
  </div>
  
  <section id="banner" class="banner-1">
    <div class="contenido-banner">
      <h3>
        <span>FLACK'S BARBER SHOP <br/> </span> Atrévete a un cambio en tu vida
      </h3>
      <a class="btn" href="https://bit.ly/Whatsappflacks" target="_blank">RESERVAR</a>
    </div>
  </section>
    
  <section id="titulo">
    <h3>Servicios</h3>
  </section>
  <section id="servicios">
    <div class="contenedor-servicios">
      <div>
        <img src="../../../assets/img/servicio4.png" alt="Corte desvanecido" />
        <p>
          Un corte que se caracteriza por tener un aspecto limpio y bien definido.
        </p>
        <h4>Precio: $100</h4>
        <h5>Duración: 45 min - 1 hr</h5>
      </div>
      <div>
        <img src="../../../assets/img/servicio5.png" alt="Corte escolar" />
        <p>El corte ideal para estudiantes o niños. Mantiene el cabello corto.</p>
        <h4>Precio: $80</h4>
        <h5>Duración: 30 min</h5>
      </div>
      <div>
        <img src="../../../assets/img/servicio2.png" alt="Arreglo barba" />
        <p>
          Consiste en recortar, dar forma, limpiar y peinar la barba para lograr una
          apariencia estilizada.
        </p>
        <h4>Precio: $150</h4>
        <h5>Duración: 30 min</h5>
      </div>
      <div>
        <img src="../../../assets/img/servicio6.png" alt="Diseños" />
        <p>
          Contamos con variedad de cortes de pelo y estilos de barba. Puedes
          consultar con nuestros empleados el catálogo de cortes.
        </p>
      </div>
      <div>
        <a routerLink="/servicios" class="btn">Ver más servicios</a>
      </div>
    </div>
  </section>
  <section id="banner" class="banner-2"></section>
  <section id="titulo">
    <h3>Productos</h3>
  </section>
  <section id="productos">
    <div class="contenedor-productos">
      <div>
        <img src="../../../assets/img/producto1.jpg" alt="CremaIMP" />
        <h6>Imperial</h6>
        <h4>Crema para la barba</h4>
        <p>Mantiene hidratado y suave el cabello de tu barba.</p>
        <br />
        <h5>Precio: $100</h5>
      </div>
      <div>
        <img src="../../../assets/img/producto5.png" alt="CremaCN" />
        <h6>Concha Nácar</h6>
        <h4>Crema</h4>
        <p>
          Ayuda a que los peinados se mantengan en su lugar y brinda un aspecto
          voluminoso.
        </p>
        <br />
        <h5>Precio: $80</h5>
      </div>
      <div>
        <img src="../../../assets/img/producto4.jpg" alt="Bálsamo" />
        <h6>Don Porfirio</h6>
        <h4>Bálsamo para la barba</h4>
        <p>Fortalece tu barba y la mantiene saludable e hidratada.</p>
        <br />
        <h5>Precio: $100</h5>
      </div>
      <div>
        <img src="../../../assets/img/producto9.png" alt="Polvo" />
        <h6>4x4</h6>
        <h4>Polvo voluminizador</h4>
        <p>Absorbe el exceso de grasa del cuero cabelludo.</p>
        <br />
        <h5>Precio: $150</h5>
      </div>
      <div>
        <a routerLink="/productos" class="btn">Ver más productos</a>
      </div>
    </div>
  </section>
  <section id="titulo">
    <h3>NOS ENCONTRAMOS EN</h3>
  </section>
  <section id="ubicacion">
    <div class="container">
      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d471.84277354037596!2d-96.9303587552203!3d18.89851515678853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4e5a2d092a067%3A0x75cb60b6b12c6940!2sFlacks%20Barber%20shop!5e0!3m2!1ses-419!2smx!4v1686671774456!5m2!1ses-419!2smx"
          width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>