<section id="titulo">
    <h3>Sobre nosotros</h3>
</section>
<section id="sobre-nosotros">
    <div class="contenedor-sobre-nosotros">
        <div class="texto">
            <h2>Conócenos</h2>
            <p>En nuestra barbería, nos apasiona ofrecerte un servicio de calidad y un estilo impecable. Nuestro
                equipo de barberos altamente capacitados está aquí para brindarte una experiencia de barbería única.
            </p>
            <p>Ven a visitarnos y experimenta el ambiente acogedor y relajado de nuestra barbería. Estamos
                comprometidos en brindarte una atención personalizada y asegurarnos de que salgas con un look
                impecable y satisfecho en cada visita.</p>
        </div>
    </div>
    <div class="imagen">
        <img src="../../../assets/img/banner3.jpg" alt="">
    </div>
</section>
<section id="antecedentes">
    <div class="contenedor-antecedentes">
        <h2>Antecedentes</h2>
        <div class="info">
            <p>Soy Michel Aldahir Reyes Salazar y en el año 2019 inicié mi negocio personal de servicios estéticos,
                "Flack's Barber Shop". Con tan solo 23 años, decidí emprender este proyecto basado en mi pasión y
                habilidad por el arte de la barbería, con el objetivo de satisfacer las necesidades de la comunidad
                de la Colonia México, ubicada en el municipio de Córdoba, en el estado de Veracruz. En tan solo tres
                años, "Flack's Barber Shop" se ha ganado un lugar como una de las mejores barberías de la zona.</p>
            <p>En "Flack's Barber Shop", mi propósito principal es satisfacer una necesidad humana básica: la
                estética. Me enorgullece ofrecer una amplia gama de servicios, desde cortes tradicionales y modernos
                hasta degradados y cortes personalizados para cada cliente.</p>
        </div>
    </div>
    <div class="logo">
        <img src="../../../assets/img/logo-banner.jpg" alt="Logo de Flack's Barber Shop">
    </div>
</section>
<section id="mision-vision">
    <div class="contenedor-mision-vision">
        <div class="mision">
            <h2><i class="fas fa-bullseye"></i> Misión</h2>
            <p>Nuestra misión es brindar calidad y excelencia a nuestros clientes, que abarcan principalmente a
                estudiantes, profesionales, comerciantes y deportistas. Aspiramos a convertirnos en un referente
                destacado en nuestro mercado local, estableciéndonos como un icono de prestigio ante la competencia.
            </p>
        </div>
        <div class="vision">
            <h2><i class="fas fa-eye"></i> Visión</h2>
            <p>Nuestra visión es convertirnos en una barbería reconocida y distinguida, cuyo nombre sea sinónimo de
                calidad y demanda constante, impulsada por una mentalidad innovadora. Nos comprometemos a brindar a
                nuestros clientes una experiencia excepcional, en la que su tiempo sea valorado y aprovechado al
                máximo.</p>
        </div>
    </div>
</section>
<section id="valores">
    <h2>Valores</h2>
    <div class="contenedor-valores">
        <div class="valor">
            <h3><i class="fas fa-check-circle"></i> Profesionalismo</h3>
            <p>Nuestros barberos están altamente capacitados para brindar servicios de alta calidad. Nos aseguramos
                de que todos nuestros clientes reciban un servicio personalizado y profesional en cada visita.</p>
        </div>
        <div class="valor">
            <h3><i class="fas fa-check-circle"></i> Honestidad</h3>
            <p>Nos enorgullece ser honestos y transparentes en todo lo que hacemos. Desde nuestras tarifas hasta
                nuestras recomendaciones de servicios, nuestros clientes pueden confiar en nosotros para brindarles
                información precisa y honesta.</p>
        </div>
        <div class="valor">
            <h3><i class="fas fa-check-circle"></i> Respeto</h3>
            <p>En Flack's Barber Shop, creemos que cada cliente merece ser tratado con respeto y consideración. Nos
                aseguramos de escuchar sus necesidades y deseos, y trabajar juntos para lograr el look que desean.
            </p>
        </div>
        <div class="valor">
            <h3><i class="fas fa-check-circle"></i> Creatividad</h3>
            <p>Nos esforzamos por ser creativos y estar a la vanguardia de las últimas tendencias en cortes de
                cabello y estilos. Siempre estamos buscando nuevas formas de mejorar nuestros servicios y brindar a
                nuestros clientes algo nuevo y emocionante.</p>
        </div>
        <div class="valor">
            <h3><i class="fas fa-check-circle"></i> Empatía</h3>
            <p>Nos preocupamos por entender las necesidades y deseos de nuestros clientes. Creemos que la empatía no
                solo mejora la experiencia del cliente, sino que también construye relaciones duraderas basadas en
                la confianza y la lealtad.</p>
        </div>
    </div>
</section>