<div class="main-container" id="main">
    <!-- Llamamos al componente del menú lateral -->
    <app-menu-lateral></app-menu-lateral>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div class="container-dash">
                    <!-- Sección del dashboard para administrar reservaciones -->
                    <div>
                        <div class="title-container">
                            <h2>Administrar reservaciones</h2>
                            <button routerLink="/crud-reservaciones">Agregar reservación</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Fecha</th>
                                    <th>Hora de inicio</th>
                                    <th>Hora de fin</th>
                                    <th>Usuario</th>
                                    <th>Servicio</th>
                                    <!-- Acciones CRUD -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Filas de la tabla con las reservaciones -->
                                <tr *ngFor="let r of reservaciones; let i = index">
                                    <td hidden>{{ r?.id }}</td>
                                    <td>{{ r?.fechaReserva }}</td>
                                    <td>{{ r?.horaInicio }}</td>
                                    <td>{{ r?.horaFin }}</td>
                                    <td>{{ r?.usuario?.nombre }}</td>
                                    <td>{{ r?.servicio?.nombre }}</td>
                                    <td>
                                        <i class="far fa-edit fa-lg text-info me-3" [routerLink]="['/editar-reservacion/', r.id]"></i>
                                        <i class="far fa-trash-alt fa-lg text-danger" (click)="abrirEliminarPopup(i)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Popup para eliminar registros -->
                    <div class="modal-overlay eliminar" *ngIf="popupEliminarVisible">
                        <div class="modal">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmar eliminación</h5>
                            </div>
                            <div class="modal-body">
                                <div class="msj-eliminar">
                                    <p>¿Estás seguro de que deseas eliminar esta reservación?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn-cancelar" (click)="cerrarEliminarPopup()">Cancelar</button>
                                    <button class="btn-eliminar" (click)="eliminar(reservaciones[indiceReservacionAEliminar])">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
