<header>
    <div class="logo-contenedor">
        <a href="/inicio">
            <img src="../../../assets/img/logo-flacks.png" alt="Logo de Flack's Barber Shop" width="75px">
        </a>
        <h2 class="logo"> FLACK'S BARBER SHOP</h2>
    </div>
    <input type="checkbox" id="check">
    <label for="check" class="mostrar-menu">
        &#8801;
    </label>
    <nav class="menu">
        <ul>
            <li><a class="nav-link" routerLink="/login">Iniciar sesión</a></li>
            <li><a class="nav-link" routerLink="/contacto">Contáctanos</a></li>
            <li><a class="nav-link" routerLink="/servicios">Servicios</a></li>
            <li><a class="nav-link" routerLink="/productos">Productos</a></li>
            <li><a class="nav-link" routerLink="/sobre-nosotros">Sobre nosotros</a></li>
            <li><a class="nav-link" routerLink="/inicio">Inicio</a></li>
            <label for="check" class="esconder-menu">
                &#215;
            </label>
        </ul>
    </nav>
</header>