<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h5 class="modal-title">{{ titulo }}</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="formularioReservacion" (ngSubmit)="guardar()" autocomplete="off">
                <div class="form-group">
                    <label for="fechaReserva">* Fecha de Reserva:</label>
                    <input type="date" class="form-control" id="fechaReserva" formControlName="fechaReserva" required>
                    <div *ngIf="formularioReservacion.get('fechaReserva')?.invalid && (formularioReservacion.get('fechaReserva')?.dirty || formularioReservacion.get('fechaReserva')?.touched)">
                        <div *ngIf="formularioReservacion.get('fechaReserva')?.hasError('required')"><p>La fecha de reserva es obligatoria.</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="horaInicio">* Hora de Inicio:</label>
                    <input type="time" class="form-control" id="horaInicio" formControlName="horaInicio" required>
                    <div *ngIf="formularioReservacion.get('horaInicio')?.invalid && (formularioReservacion.get('horaInicio')?.dirty || formularioReservacion.get('horaInicio')?.touched)">
                        <div *ngIf="formularioReservacion.get('horaInicio')?.hasError('required')"><p>La hora de inicio es obligatoria.</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="idUsuario">* ID de Usuario:</label>
                    <input type="number" class="form-control" id="idUsuario" formControlName="idUsuario" required>
                    <!-- Agregar mensajes de validación si es necesario -->
                </div>
                <div class="form-group">
                    <label for="idServicio">* ID de Servicio:</label>
                    <input type="number" class="form-control" id="idServicio" formControlName="idServicio" required>
                    <!-- Agregar mensajes de validación si es necesario -->
                </div>
                <!-- No se agregan campos para horaFin, idUsuario, idServicio ya que se proporcionan específicamente -->
                <div class="modal-footer">
                    <button type="button" class="btn-cancelar" routerLink="/dashboard-reservaciones">Cancelar</button>
                    <button type="submit" class="btn-primary">Guardar</button>
                </div>
                <div *ngIf="formularioReservacion.invalid && enviado">
                    <p>Por favor, ingrese correctamente todos los campos antes de guardar.</p>
                </div>
            </form>
        </div>
    </div>
</div>
