<div class="main-container" id="main">
    <!-- Llamamos al componente del menú lateral -->
    <app-menu-lateral></app-menu-lateral>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div class="container-dash">
                    <!-- Sección del dashboard para administrar detalles -->
                    <div>
                        <div class="title-container">
                            <h2>Administrar detalles</h2>
                            <button routerLink="/crud-detalles">Agregar detalle</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID Detalle</th>
                                    <th>ID Usuario</th>
                                    <th>ID Producto</th>
                                    <th>ID Reservación</th>
                                    <th>Cantidad de productos adquiridos</th>
                                    <th>Total</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Filas de la tabla con los detalles -->
                                <tr *ngFor="let d of detalles; let i = index">
                                    <td>{{ d?.id }}</td>
                                    <td>{{ d?.usuario?.nombre }}</td>
                                    <td>{{ d?.producto?.nombre }}</td>
                                    <td>{{ d?.reservacion?.id }}</td>
                                    <td>{{ d?.cantidad }}</td>
                                    <td>{{ d?.total }}</td> 
                                    <td>
                                        <i class="far fa-edit fa-lg text-info me-3" [routerLink]="['/editar-detalle/', d.id]"></i>
                                        <i class="far fa-trash-alt fa-lg text-danger" (click)="abrirEliminarPopup(i)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Popup para eliminar registros -->
                    <div class="modal-overlay eliminar" *ngIf="popupEliminarVisible">
                        <div class="modal">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmar eliminación</h5>
                            </div>
                            <div class="modal-body">
                                <div class="msj-eliminar">
                                    <p>¿Estás seguro de que deseas eliminar este detalle?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn-cancelar" (click)="cerrarEliminarPopup()">Cancelar</button>
                                    <button class="btn-eliminar" (click)="eliminar(detalles[indiceDetalleAEliminar])">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
