<section id="titulo">
    <h3>Servicios</h3>
</section>
<section id="servicios">
    <div class="contenedor-servicios">
        <div>
            <img src="../../../assets/img/servicio4.png" alt="Corte desvanecido">
            <p>Un corte que se caracteriza por tener un aspecto limpio
                y bien definido.</p>
            <h4>Precio: $100</h4>
            <h5>Duración: 45 min - 1 hr</h5>
        </div>
        <div>
            <img src="../../../assets/img/servicio2.png" alt="Arreglo barba">
            <p>Consiste en recortar, dar forma, limpiar y peinar la barba para
                lograr una apariencia estilizada.</p>
            <h4>Precio: $70</h4>
            <h5>Duración: 20 min</h5>
        </div>
        <div>
            <img src="../../../assets/img/servicio5.png" alt="Corte escolar">
            <p>El corte ideal para estudiantes o niños. Mantiene el cabello
                corto.</p>
            <h4>Precio: $80</h4>
            <h5>Duración: 30 min</h5>
        </div>
        <div>
            <img src="../../../assets/img/servicio1.png" alt="Afeitado express">
            <p>Se elimina el vello facial de manera rápida y efectiva.</p>
            <h4>Precio: $90</h4>
            <h5>Duración: 15 min - 20 min</h5>
        </div>
        <div>
            <img src="../../../assets/img/servicio6.png" alt="Diseños">
            <p>Contamos con variedad de cortes de pelo y estilos de barba.
                Puedes consultar con nuestros empleados el catálogo de cortes.
            </p>
        </div>
        <div>
            <img src="../../../assets/img/servicio3.png" alt="Arreglo cejas">
            <p>Elimina el vello no deseado para dar forma y
                resaltar los rasgos faciales.</p>
            <h4>Precio: $30</h4>
            <h5>Duración: 20 min</h5>
        </div>
        <div>
            <img src="../../../assets/img/servicio7.png" alt="Mascarilla">
            <p>Se emplea para hidratar, purificar e iluminar tu cara.</p>
            <h4>Precio: $70</h4>
            <h5>Duración: 20 min</h5>
        </div>
    </div>
</section>