<div class="modal-overlay">

    <div class="modal">
        <div class="modal-header">
            <h5 class="modal-title">{{ titulo }}</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="formCliente" (ngSubmit)="agregarOEditar()" autocomplete="off">
                <div class="form-group">
                    <label for="nombre">* Nombre:</label>
                    <input type="text" class="form-control" id="nombre" pattern="[A-Za-zÁ-Úá-ú ]+" maxlength="30" formControlName="nombre" required>
                    <!-- Mensajes de validaciones para el formulario -->
                    <div *ngIf="formCliente.get('nombre')?.invalid && (formCliente.get('nombre')?.dirty || formCliente.get('nombre')?.touched)">
                        <div *ngIf="formCliente.get('nombre')?.hasError('required')"><p>El nombre del cliente es obligatorio.</p></div>
                        <div *ngIf="formCliente.get('nombre')?.hasError('pattern')"><p>El nombre solo puede contener letras.</p></div>
                    </div>
                </div>
                <!-- form-row y form-col es para que se muestren los campos en una misma linea -->
                <div class="form-row">
                    <div class="form-col">
                        <div class="form-group">
                            <label for="apellidoPaterno">* Apellido paterno:</label>
                            <input type="text" class="form-control" id="apellidoPaterno" pattern="[A-Za-zÁ-Úá-ú]+"
                                maxlength="20" formControlName="apellidoPaterno" required>
                            <!-- Mensajes de validaciones para el formulario -->
                            <div
                                *ngIf="formCliente.get('apellidoPaterno')?.invalid && (formCliente.get('apellidoPaterno')?.dirty || formCliente.get('apellidoPaterno')?.touched)">
                                <div *ngIf="formCliente.get('apellidoPaterno')?.hasError('required')"><p>El apellido del cliente es obligatorio.</p></div>
                                <div *ngIf="formCliente.get('apellidoPaterno')?.hasError('pattern')"><p>El apellido solo puede contener letras.</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-col">
                        <div class="form-group">
                            <label for="apellidoMaterno">Apellido materno:</label>
                            <input type="text" class="form-control" id="apellidoMaterno" pattern="[A-Za-zÁ-Úá-ú]+"
                            maxlength="20" formControlName="apellidoMaterno">
                            <!-- Mensajes de validaciones para el formulario -->
                            <div
                                *ngIf="formCliente.get('apellidoMaterno')?.dirty || formCliente.get('apellidoPaterno')?.touched">
                                <div *ngIf="formCliente.get('apellidoMaterno')?.hasError('pattern')"><p>El apellido solo puede contener letras.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombreUsuario">* Nombre de usuario:</label>
                    <input type="text" class="form-control" id="nombreUsuario" maxlength="20" formControlName="nombreUsuario" required>
                    <!-- Mensajes de validaciones para el formulario -->
                    <div
                        *ngIf="formCliente.get('nombreUsuario')?.invalid && (formCliente.get('nombreUsuario')?.dirty || formCliente.get('nombreUsuario')?.touched)">
                        <div *ngIf="formCliente.get('nombreUsuario')?.hasError('required')"><p>El nombre de usuario del cliente es obligatorio.</p></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="text" class="btn-cancelar" routerLink="/dashboard-clientes">Cancelar</button>
                    <button type="submit" class="btn-primary">Guardar</button>
                </div>
                <div *ngIf="formCliente.invalid && submitted">
                    <p>Por favor, ingresa correctamente todos los campos antes de guardar.</p>
                </div>
            </form>
        </div>
    </div>

</div>