<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h5 class="modal-title">{{ titulo }}</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="formularioUsuario" (ngSubmit)="guardar()" autocomplete="off">
                <div class="form-group">
                    <label for="nombre">* Nombre:</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
                    <!-- Mensajes de validaciones para el formulario -->
                    <div *ngIf="formularioUsuario.get('nombre')?.invalid && (formularioUsuario.get('nombre')?.dirty || formularioUsuario.get('nombre')?.touched)">
                        <div *ngIf="formularioUsuario.get('nombre')?.hasError('required')"><p>El nombre es obligatorio.</p></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="apellidoPaterno">* Apellido Paterno:</label>
                    <input type="text" class="form-control" id="apellidoPaterno" formControlName="apellidoPaterno" required>
                    <!-- Mensajes de validaciones para el formulario -->
                    <div *ngIf="formularioUsuario.get('apellidoPaterno')?.invalid && (formularioUsuario.get('apellidoPaterno')?.dirty || formularioUsuario.get('apellidoPaterno')?.touched)">
                        <div *ngIf="formularioUsuario.get('apellidoPaterno')?.hasError('required')"><p>El apellido paterno es obligatorio.</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="apellidoMaterno">* Apellido Materno:</label>
                    <input type="text" class="form-control" id="apellidoMaterno" formControlName="apellidoMaterno">
                    <!-- Mensajes de validaciones para el formulario -->
                </div>
                <div class="form-group">
                    <label for="telefono">* Teléfono:</label>
                    <input type="tel" class="form-control" id="telefono" formControlName="telefono">
                    <!-- Mensajes de validaciones para el formulario -->
                </div>
                <div class="form-group">
                    <label for="nombreUsuario">* Nombre de Usuario:</label>
                    <input type="text" class="form-control" id="nombreUsuario" formControlName="nombreUsuario" required>
                    <!-- Mensajes de validaciones para el formulario -->
                    <div *ngIf="formularioUsuario.get('nombreUsuario')?.invalid && (formularioUsuario.get('nombreUsuario')?.dirty || formularioUsuario.get('nombreUsuario')?.touched)">
                        <div *ngIf="formularioUsuario.get('nombreUsuario')?.hasError('required')"><p>El nombre de usuario es obligatorio.</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">* Correo electrónico:</label>
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                    <!-- Mensajes de validaciones para el formulario -->
                    <div *ngIf="formularioUsuario.get('email')?.invalid && (formularioUsuario.get('email')?.dirty || formularioUsuario.get('email')?.touched)">
                        <div *ngIf="formularioUsuario.get('email')?.hasError('required')"><p>El correo electrónico es obligatorio.</p></div>
                        <div *ngIf="formularioUsuario.get('email')?.hasError('email')"><p>Ingrese un correo electrónico válido.</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">* Contraseña:</label>
                    <input type="password" class="form-control" id="password" formControlName="password" required>
                    <!-- Mensajes de validaciones para el formulario -->
                    <div *ngIf="formularioUsuario.get('password')?.invalid && (formularioUsuario.get('password')?.dirty || formularioUsuario.get('password')?.touched)">
                        <div *ngIf="formularioUsuario.get('password')?.hasError('required')"><p>La contraseña es obligatoria.</p></div>
                    </div>
                </div>
                <div class="form-group" id="rolFormGroup">
                    <label>Rol</label>
                    <select name="rol" id="rol" formControlName="roles" multiple [(ngModel)]="selectedRoles" size="2" style="font-size: 17px;">
                      <option value="user">Usuario</option>
                      <option value="admin">Administrador</option>
                    </select>
                    <!-- Mensajes de validaciones para el formulario -->
                    <div *ngIf="formularioUsuario.get('roles')?.invalid">
                      <div *ngIf="formularioUsuario.get('roles')?.hasError('required')"><p>Debe seleccionar al menos un rol.</p></div>
                      <div *ngIf="formularioUsuario.get('roles')?.hasError('noRolesSeleccionados')"><p>Debe seleccionar al menos un rol.</p></div> <!-- Nuevo mensaje para la validación personalizada -->
                    </div>
                  </div>                                                
                <div class="modal-footer">
                    <button type="button" class="btn-cancelar" routerLink="/dashboard-usuarios">Cancelar</button>
                    <button type="submit" class="btn-primary">Guardar</button>
                </div>
                <div *ngIf="formularioUsuario.invalid && enviado">
                    <p>Por favor, ingrese correctamente todos los campos antes de guardar.</p>
                </div>
            </form>
        </div>
    </div>
</div>
