<div class="main-container" id="main">
    <!-- Llamamos al componente del menú lateral -->
    <app-menu-lateral></app-menu-lateral>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div class="container-dash">
                    <!-- Sección del dashboard para administrar contactos -->
                    <div>
                        <div class="title-container">
                            <h2>Administrar mensajes de contactos</h2>
                            <button routerLink="/crud-contactos">Agregar mensaje de contacto</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID Mensaje</th>
                                    <th>Asunto</th>
                                    <th>Mensaje</th>
                                    <th>Fecha del mensaje</th>
                                    <th>ID Usuario</th>
                                    <!-- Acciones CRUD -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Filas de la tabla con los contactos -->
                                <tr *ngFor="let c of contactos; let i = index">
                                    <td>{{ c?.id }}</td>
                                    <td>{{ c?.asunto }}</td>
                                    <td>{{ c?.mensaje }}</td>
                                    <td>{{ c?.fechaMensaje }}</td>
                                    <!-- Mostrar el nombre del usuario -->
                                    <td>{{ c?.usuario?.nombre }}</td>
                                    <td>
                                        <i class="far fa-edit fa-lg text-info me-3" [routerLink]="['/editar-contacto/', c.id]"></i>
                                        <i class="far fa-trash-alt fa-lg text-danger" (click)="abrirEliminarPopup(i)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Popup para eliminar registros -->
                    <div class="modal-overlay eliminar" *ngIf="popupEliminarVisible">
                        <div class="modal">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmar eliminación</h5>
                            </div>
                            <div class="modal-body">
                                <div class="msj-eliminar">
                                    <p>¿Estás seguro de que deseas eliminar este registro?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn-cancelar" (click)="cerrarEliminarPopup()">Cancelar</button>
                                    <button class="btn-eliminar" (click)="eliminar(contactos[indiceContactoAEliminar])">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
