<section id="titulo">
    <h3>Productos</h3>
</section>
<section id="productos">
    <div class="contenedor-productos">
        <div>
            <img src="../../../assets/img/producto1.jpg" alt="CremaIMP">
            <h6>Imperial</h6>
            <h4>Crema para la barba</h4>
            <p>Mantiene hidratado y suave el cabello de tu barba.</p>
            <br>
            <h5>Precio: $100</h5>
        </div>
        <div>
            <img src="../../../assets/img/producto2.jpg" alt="Pomada">
            <h6>Imperial</h6>
            <h4>Pomada para la barba</h4>
            <p>Controla el volumen de tu barba y obtén el estilo que desees.</p>
            <h5>Precio: $100</h5>
        </div>
        <div>
            <img src="../../../assets/img/producto5.png" alt="CremaCN">
            <h6>Concha Nácar</h6>
            <h4>Crema</h4>
            <p>Ayuda a que los peinados se mantengan en su lugar y brinda un aspecto voluminoso.</p>
            <h5>Precio: $80</h5>
        </div>
        <div>
            <img src="../../../assets/img/producto4.jpg" alt="Bálsamo">
            <h6>Don Porfirio</h6>
            <h4>Bálsamo para la barba</h4>
            <p>Fortalece tu barba y la mantiene saludable e hidratada.</p>
            <h5>Precio: $100</h5>
        </div>
        <div>
            <img src="../../../assets/img/producto9.png" alt="Polvo">
            <h6>4x4</h6>
            <h4>Polvo voluminizador</h4>
            <p>Absorbe el exceso de grasa del cuero cabelludo.</p>
            <h5>Precio: $150</h5>
        </div>
        <div>
            <img src="../../../assets/img/producto6.png" alt="Fibra">
            <h6>Toppik</h6>
            <h4>Fibra para cabello</h4>
            <p>Añade grosor al cabello y lo mantiene firme.</p>
            <h5>Precio: $80</h5>
        </div>
        <div>
            <img src="../../../assets/img/producto7.png" alt="Shampoo barba">
            <h6>Grave before shave</h6>
            <h4>Shampoo para barba</h4>
            <p>Elimina y previene la suciedad de tu barba.</p>
            <h5>Precio: $130</h5>
        </div>
        <div>
            <img src="../../../assets/img/producto8.png" alt="Cera barba">
            <h6>Fisticuffs</h6>
            <h4>Cera</h4>
            <p>Proporciona buena fijación durante todo el día.</p>
            <h5>Precio: $120</h5>
        </div>
    </div>
</section>