<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h5 class="modal-title">{{ titulo }}</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="formularioServicio" (ngSubmit)="guardar()" autocomplete="off">
                <div class="form-group">
                    <label for="nombre">* Nombre:</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
                    <div *ngIf="formularioServicio.get('nombre')?.invalid && (formularioServicio.get('nombre')?.dirty || formularioServicio.get('nombre')?.touched)">
                        <div *ngIf="formularioServicio.get('nombre')?.hasError('required')"><p>El nombre es obligatorio.</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion">* Descripción:</label>
                    <textarea class="form-control" id="descripcion" formControlName="descripcion" required></textarea>
                    <div *ngIf="formularioServicio.get('descripcion')?.invalid && (formularioServicio.get('descripcion')?.dirty || formularioServicio.get('descripcion')?.touched)">
                        <div *ngIf="formularioServicio.get('descripcion')?.hasError('required')"><p>La descripción es obligatoria.</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="precio">* Precio:</label>
                    <input type="number" class="form-control" id="precio" formControlName="precio" required>
                    <div *ngIf="formularioServicio.get('precio')?.invalid && (formularioServicio.get('precio')?.dirty || formularioServicio.get('precio')?.touched)">
                        <div *ngIf="formularioServicio.get('precio')?.hasError('required')"><p>El precio es obligatorio.</p></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="duracion">* Duración (minutos):</label>
                    <input type="text" class="form-control" id="duracion" formControlName="duracion" required>
                    <div *ngIf="formularioServicio.get('duracion')?.invalid && (formularioServicio.get('duracion')?.dirty || formularioServicio.get('duracion')?.touched)">
                        <div *ngIf="formularioServicio.get('duracion')?.hasError('required')"><p>La duración es obligatoria.</p></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-cancelar" routerLink="/dashboard-servicios">Cancelar</button>
                    <button type="submit" class="btn-primary">Guardar</button>
                </div>
                <div *ngIf="formularioServicio.invalid && enviado">
                    <p>Por favor, ingrese correctamente todos los campos antes de guardar.</p>
                </div>
            </form>
        </div>
    </div>
</div>
