<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h5 class="modal-title">{{ titulo }}</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="formServicio" (ngSubmit)="agregarOEditar()" autocomplete="off">
                <div class="form-group">
                    <label for="nombre">* Nombre del servicio:</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
                    <div
                        *ngIf="formServicio.get('nombre')?.invalid && (formServicio.get('nombre')?.dirty || formServicio.get('nombre')?.touched)">
                        <div *ngIf="formServicio.get('nombre')?.hasError('required')">
                            <p>El nombre es obligatorio.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion">* Descripción:</label>
                    <textarea class="form-control no-resize" id="descripcion" formControlName="descripcion"
                        required></textarea>
                    <div
                        *ngIf="formServicio.get('descripcion')?.invalid && (formServicio.get('descripcion')?.dirty || formServicio.get('descripcion')?.touched)">
                        <div *ngIf="formServicio.get('descripcion')?.hasError('required')">
                            <p>La descripción es obligatoria.</p>
                        </div>
                    </div>
                </div>
                <!-- form-row y form-col es para que se muestren los campos en una misma linea -->
                <div class="form-row">
                    <div class="form-col">
                        <div class="form-group">
                            <label for="duracion">* Duración (minutos):</label>
                            <input type="number" class="form-control" id="duracion" formControlName="duracion" required>
                            <div
                                *ngIf="formServicio.get('precio')?.invalid && (formServicio.get('precio')?.dirty || formServicio.get('precio')?.touched)">
                                <div *ngIf="formServicio.get('precio')?.hasError('required')">
                                    <p>El precio es obligatorio.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-col">
                        <div class="form-group">
                            <label for="precio">* Precio:</label>
                            <input type="number" class="form-control" id="precio" min="0" formControlName="precio"
                                required>
                            <div
                                *ngIf="formServicio.get('duracion')?.invalid && (formServicio.get('duracion')?.dirty || formServicio.get('duracion')?.touched)">
                                <div *ngIf="formServicio.get('duracion')?.hasError('required')">
                                    <p>La duración es obligatoria.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-cancelar" routerLink="/dashboard-servicios">Cancelar</button>
                    <button type="submit" class="btn-primary">Guardar</button>
                </div>
                <div *ngIf="formServicio.invalid && enviado">
                    <p>Por favor, ingrese correctamente todos los campos antes de guardar.</p>
                </div>
            </form>
        </div>
    </div>
</div>