/* Menu lateral desplegable */
.aside {
    height: 100vh;
    width: 250px;
    padding: 15px;
    background-color: #0f0f0f;
    color: #fff;
    position: fixed;
    transition: all .4s ease;
    left: 0;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 30px;
}

.head img {
    width: 50px;
    border-radius: 50%;
}

.head i {
    font-size: 30px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}

.profile i {
    margin-right: 10px;
}


/*Contenedor de las opciones */

.options-container {
    width: 235px;
    height: 400px;
    overflow-y: auto;
    border: 0px solid;
    padding-right: 10px;
    /* Add padding to the right of the container */
}

.options-container::-webkit-scrollbar {
    width: 10px;
    background-color: white;
    border-radius: 10px;
}

.options-container::-webkit-scrollbar-thumb {
    background-color: goldenrod;
    border-radius: 10px;
}

.hide-scrollbar.options-container::-webkit-scrollbar-thumb,
.hide-scrollbar.options-container::-webkit-scrollbar {
    background-color: transparent;
}



.options div {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.options div:hover {
    background-color: rgba(255, 255, 255, 0.137);
    transition: all .4s ease-in-out;
}

.options i {
    font-size: 1.4rem;
    margin-right: 10px;
}

/* Mini menu lateral desplegable */
.aside.active {
    width: 80px;
    transition: all .4s ease;
}

.aside.active .option,
.aside.active .profile {
    display: none;
}

.aside.active .head i {
    margin: auto;
}

.logout {
    position: absolute;
    bottom: 20px;
}

/* Modo responsivo para el mini menú desplegable */
@media (max-width: 768px) {

    .aside,
    .aside.active {
        width: 60px;
    }

    .aside {
        scroll-behavior: smooth;
    }

    .aside .option,
    .aside .profile {
        text-align: center;
        display: none;
    }

    .aside i {
        margin: auto;
    }

    .options div {
        justify-content: center;
    }
}