<!-- Menu lateral -->
<aside class="aside" id="aside">
    <div class="head">
        <div class="profile">
            <i class='bx bxs-user-circle'></i>
            <p>Administrador</p>
        </div>
        <i class='bx bx-menu' id="menu" (click)="toggleAside()"></i>
    </div>
    <div class="options">
        <div routerLink="/dashboard-usuarios">
            <i class='bx bxs-user'></i>
            <span class="option">Usuarios</span>
        </div>
        <div routerLink="/dashboard-empleados">
            <i class='bx bx-id-card'></i>
            <span class="option">Empleados</span>
        </div>
        <div routerLink="/dashboard-clientes">
            <i class='bx bx-group'></i>
            <span class="option">Clientes</span>
        </div>
        <div routerLink="/dashboard-productos">
            <i class='bx bxs-purchase-tag-alt'></i>
            <span class="option">Productos</span>
        </div>
        <div routerLink="/dashboard-servicios">
            <i class='bx bx-cut'></i>
            <span class="option">Servicios</span>
        </div>
        <div routerLink="/dashboard-reservaciones">
            <i class='bx bxs-calendar'></i>
            <span class="option">Reservaciones</span>
        </div>
        <div class="logout" routerLink="/login">
            <i class='bx bxs-log-out'></i>
            <span class="option">Cerrar sesión</span>
        </div>
    </div>
</aside>