<!-- Menu lateral -->
<aside class="aside" id="aside">
    <div class="head">
        <div class="profile">
            <i class='bx bxs-user-circle'></i>
            <p>Administrador</p>
        </div>
        <i class='bx bx-menu' id="menu" (click)="toggleAside()"></i>

        <!-- Popup para cerrar sesión -->
        <div class="modal-overlay eliminar" *ngIf="popupCerrarVisible">
            <div class="modal">
                <div class="modal-header">
                    <h5 class="modal-title">Advertencia</h5>
                </div>
                <div class="modal-body">
                    <div class="msj-eliminar">
                        <p>¿Estás seguro de quieres cerrar sesión?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-cancelar" (click)="cerrarCerrarPopup()">No</button>
                        <button class="btn-eliminar" (click)="cierraSesion()">Sí</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="options">
        <div routerLink="/dashboard-usuarios">
            <i class='bx bxs-user'></i>
            <span class="option">Usuarios</span>
        </div>
        <div routerLink="/dashboard-productos">
            <i class='bx bxs-purchase-tag-alt'></i>
            <span class="option">Productos</span>
        </div>
        <div routerLink="/dashboard-servicios">
            <i class='bx bx-cut'></i>
            <span class="option">Servicios</span>
        </div>
        <div routerLink="/dashboard-reservaciones">
            <i class='bx bxs-calendar'></i>
            <span class="option">Reservaciones</span>
        </div>
        <div routerLink="/dashboard-categorias">
            <i class='bx bxs-calendar'></i>
            <span class="option">Categorias</span>
        </div>
        <div routerLink="/dashboard-resenas">
            <i class='bx bxs-calendar'></i>
            <span class="option">Reseñas</span>
        </div>
        <div routerLink="/dashboard-pagos">
            <i class='bx bxs-calendar'></i>
            <span class="option">Metodos de pago</span>
        </div>
        <div routerLink="/dashboard-contactos">
            <i class='bx bxs-calendar'></i>
            <span class="option">Contáctanos</span>
        </div>
        <div class="logout">
            <i class='bx bxs-log-out'></i>
            <span class="option" (click)="abrirCerrarPopup()">Cerrar sesión</span>
        </div>
    </div>
</aside>